.MainPane{
    -fx-background-color: #252535;
}
.MainPane * {
    -fx-text-fill: white;
}

.secPane{
    -fx-background-color: #353550;
    -fx-background-radius:5;
    -fx-font-family: Consolas;
    -fx-font-size: 14;
}

.tdrPane{
    -fx-background-color: #454565;
    -fx-background-radius:5;
    -fx-font-family: Consolas;
    -fx-font-size: 14;
}

.txtField{
    -fx-background-color: #202020;
    -fx-background-radius:5;
    -fx-font-family: Consolas;
    -fx-font-size: 14;
}
.txtField:hover{
    -fx-border-color: white;
    -fx-border-radius:5;
    -fx-border-width: 2px;
}

.txtField:focused{
    -fx-background-color: #3a3a3a;
}

.btn{
    -fx-background-color: #202020;
    -fx-background-radius:5;
    -fx-font-family: Consolas;
    -fx-font-size: 14;
}

.btnDg{
    -fx-background-color: #990000;
    -fx-background-radius:5;
    -fx-font-family: Consolas;
    -fx-font-size: 14;
    -fx-font-weight: bold;
}

.btn:hover {
    -fx-border-color: white;
    -fx-border-radius:5;
    -fx-border-width: 1px;
}
.btn:focused{
    -fx-border-color: white;
    -fx-border-radius:5;
    -fx-border-width: 1px;
}

.btnDg:hover {
    -fx-border-color: white;
    -fx-border-radius:5;
    -fx-border-width: 1px;
}

.btnDg:focused{
    -fx-border-color: white;
    -fx-border-radius:5;
    -fx-border-width: 1px;
}


.listView{
    -fx-background-color: #454565;
    -fx-background-radius:5;
    -fx-font-family: Consolas;
    -fx-font-size: 14;
}

.listView *{
    -fx-background-radius:5;
    -fx-background-color: #202020;
}

.listView *:hover {
    -fx-border-color: white;
    -fx-border-width: 1px;
}
.listView *:focused{
    -fx-border-color: white;
    -fx-border-radius:5;
    -fx-border-width: 1px;
}

.cmb {
    -fx-background-color: #202020;
    -fx-font-family: Consolas;
    -fx-font-size: 14;
}

.cmb *{
    -fx-background-color: #202020;
}

.date *{
    -fx-text-fill: black;
}